#-------------------------------------------------------------------------------
#
# Prettier Ignores, https://prettier.io/docs/en/ignore.html
#
#-------------------------------------------------------------------------------

# Library Code
/node_modules/

# Generated Code
/package-lock.json
